

html {
  background-color: lightblue;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

#header {
  text-align: center;
}

#lineupContainer {
  border: 1px solid black;
  padding: 10px;
  font-family: Arial, sans-serif;
  max-height: 1000px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightBlue;
    margin: 10px;
}

img {
    max-width: 50px;
    height: auto;
    margin: 10px;
}

#generateButton {
    height: 40px;
    width: 120px;
}

button {
    position: relative;
    border: none;
    margin: 20px;
    padding: 10px;
    height: 40px;
    width: auto;
    background-color: rgb(68, 182, 213);
    transition: .2s ease-in;
    z-index: 1;
}

button::before,
button::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn_3:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

